.hover-blue {
  background: linear-gradient(to right, #ff9800 50%, #537ed2 50%);
  background-size: 200% 100%;
  background-position: left bottom;
  color: white;
  transition: background-position 0.4s ease;
  border: none;
}

.hover-blue:hover {
  background-position: right bottom;
  color: #fff !important;
}

.icon-bg {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
  font-size: 24px;
}
